.wave-animated {
  width: 100vw;
  height: 10.5rem;

  @include breakpoint($sm-bp) {
    height: 3rem;
  }
}

.wave-wrapper {
  position: absolute;
  left: 0;
  bottom: 5rem;
  z-index: 3;

  max-height: 0;

  @include breakpoint($sm-bp) {
    bottom: 1.5rem;
  }
}
