<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <svg>
                    <use href="#logo"></use>
                </svg>
            </a>
            <nav class="menu">
                <ul class="menu__nav-list">
                    <li class="nav-list__item">
                        <a href="#opportunities" class="nav-list__item-link">Каталог</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#getting" class="nav-list__item-link">Информация</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">О компании</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">Контакты</a>
                    </li>
                </ul>

                <div class="header-links">
                    <a class="header-links__lang" href="#">Eng</a>
                    <a class="header-links__tel" href="tel:8000123123">8 (800) 101-23-03</a>
                </div>
            </nav>
            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>