<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <svg>
                    <use href="#logo" class="logo-use"></use>
                </svg>
            </a>
            <nav class="menu">
                <div class="menu__nav-list">
                    <div class="nav-list__item nav-list__item--dropdown">
                        <a href="#opportunities" class="nav-list__item-link nav-list__item-link--droplink">Каталог
                        </a>
                        <svg class="nav-list__item-arrow">
                            <use href="#rect-drop-down"></use>
                        </svg>
                        <div class="nav-list__droplink-list">
                            <a class="droplink-list__item-link" href="#1">Безалкогольные напитки</a>
                            <a class="droplink-list__item-link" href="#2">Слабоалкогольные напитки</a>
                            <a class="droplink-list__item-link" href="#3">Бакалея</a>
                        </div>
                    </div>
                    <div class="nav-list__item nav-list__item--dropdown">
                        <a href="#opportunities" class="nav-list__item-link nav-list__item-link--droplink">Информация
                        </a>
                        <svg class="nav-list__item-arrow">
                            <use href="#rect-drop-down"></use>
                        </svg>
                        <div class="nav-list__droplink-list">
                            <a class="droplink-list__item-link" href="#1">Оплата и доставка</a>
                            <a class="droplink-list__item-link" href="#2">Сотрудничество</a>
                            <a class="droplink-list__item-link" href="#3">О нас</a>
                            <a class="droplink-list__item-link" href="#3">Вакансии</a>
                        </div>
                    </div>
                    <div class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">О компании</a>
                    </div>
                    <div class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">Контакты</a>
                    </div>
                </div>

                <div class="header-links">
                    <a class="header-links__lang" href="#">Eng</a>
                    <div class="header-links__soc-mob footer-info__soc">
                        <a class="footer-info__soc-link soc-link--wsp" href="#">
                            <svg>
                                <use href="#whatsapp"></use>
                            </svg>
                        </a>
                        <a class="footer-info__soc-link soc-link--tg" href="#">
                            <svg>
                                <use href="#tg"></use>
                            </svg>
                        </a>
                    </div>
                    <a class="header-links__tel" href="tel:8000123123">8 (800) 101-23-03</a>
                    <button class="header-links__cons-btn filled-btn" data-modal="order">Консультация</button>
                </div>
            </nav>
            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>